<form [formGroup]="forgotDataForm" (ngSubmit)="OnForgot()">

<div class="container">
  
    <div class="sign" style="margin-top: -10px; margin-left: -40px;">
     <img src="assets\social.png" alt="Google Icon" style="margin-left: -10px;">
     <div style="margin-top:-20px">
      <h1>Find your email</h1>
      <p>Enter your email for recovery</p>
     </div>
      </div>
     

     <div class="box" style="margin-right: -50px ; margin-top:100px">
    <div id="em" class="same" >
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="Email">
        <mat-error *ngIf="forgotDataForm.get('Email')?.hasError('email')"> Email is not valid.
        </mat-error>
        <mat-error *ngIf="forgotDataForm.get('Email')?.hasError('required')"> Email is required.
        </mat-error>
      </mat-form-field>
      </div>
    
    
 

  <div style="width:80px; margin-top:130px; margin-left:375px">
   <div> <button mat-flat-button color="primary">next</button></div> 
  </div> 

  </div>

</div> 
  
 
