button {
  
    font-size: 15px;
    background-color:grey;
    color: white;
  //  border: none;
    border-radius: 5px;
   
  }

  .but{
    margin-top: 30px;
    font-size: 20px;
    width:140px;
    height:25px;
  }


  
  