
<div class="container">
  
    <div class="sign" style="margin-top: -10px; margin-left: -40px;">
     <img src="assets\social.png" alt="Google Icon" style="margin-left: -10px;">
     <div style="margin-top:-20px">
      <h1>Reset Password</h1>
      <p>Create strong password in yor account</p>
     </div>
      </div>
     

     <div class="box" style="margin-right: -50px ; margin-top:100px">
    <div id="em" class="same" >
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="New Password">
      </mat-form-field>
      </div>
    
    
    <div id="em" class="same">
      <mat-form-field appearance="outline">
        <mat-label>Confirm</mat-label>
        <input matInput placeholder="Confirm Password">
      </mat-form-field>
    </div>
  


 

  <div  style="width:120px; margin-top:70px; margin-left:150px">
   <div>   <button mat-flat-button>Return to login</button> </div>

  </div>

  <div style="width:80px; margin-top:-40px; margin-left:380px">
   <div> <button mat-flat-button color="primary">Save</button></div> 
  </div> 

  </div>

</div> 
  
